<div class="admin-title">
    <h2>Poemas
    </h2>
    <a href="/add-poem" class="button">+Novo</a>
</div>

<ul class="admin-posts">
    <% data.forEach(poem=> {
        %>
        <li>
            <a href="/poema/<%= poem._id  %>">
                <%= poem.title %> &nearr;
            </a>
            <div class="admin-post-controls">
                <a href="/edit-poem/<%= poem._id %>" class="btn">🖊</a>

                <form action="/delete-poem/<%= poem._id  %>?_method=DELETE" method="POST">
                    <input type="submit" class="btn " value="✖">
                </form>
            </div>
        </li>

        <% }) %>
</ul>