<header class="header">
    <div class="header__logo__admin">Painel do Administrador</div>
    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
          
            <li>
                <a href="/admin" class="">Admin</a>
            </li>
        </ul>
    </nav>
    <div class="header_button">
        <a href="/logout" class="btn-logout">
            <img class="btn-img-logout" src="/img/icons8-logout-64.png" alt="logout logo">
        </a>
    </div>
</header>