<div class="author">
    <h1 class="author__heading">
       Olá, sou HW.
    </h1>
    <p class="author__body">Escritor e Poeta.

    </p>
</div>

<img src="/img/hero-image.webp" alt="person looking out of the window" class="hero-image" width="981" height="528">

<section class="articles">
    <h2 class="articles__heading">Meus últimos poemas</h2>
    <ul class="article-ul">
        
        <% data.forEach(element => { %>
            <li>
                <a href="/poemas/<%= element._id %>">
                    <span> <%= element.title %></span>
                    <span class="article-list__date"> <%= element.createdAt.toDateString() %></span>
                </a>
            </li>
            
        <% }) %>

    </ul>
    <a href="#" class="pagination">&lt; Ver Poemas Mais Antigos</a>
</section>